
body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#0b1020;
    color:white;
    text-align:center;
}

.hero{
    padding:60px 20px;
}

.logo{
    height:90px;
}

.section{
    padding:60px 20px;
}

input, textarea{
    display:block;
    margin:10px auto;
    padding:10px;
    width:280px;
}

.btn{
    background:#2bd4ff;
    border:none;
    padding:12px 20px;
    cursor:pointer;
    margin-top:10px;
}

footer{
    padding:20px;
    background:#111;
}
